
.Drop__down{
    position: relative;
    width: 350px;
    padding: 20px 0;
    text-align: center;
  
}

.drop__menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: teal;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}
.drop__toogle{
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    
    
}
